apiVersion: v1
kind: Service
metadata:
  name: {{ include "mockd.fullname" . }}
  labels:
    {{- include "mockd.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ .Values.mockd.adminPort }}
      targetPort: admin
      protocol: TCP
      name: admin
  selector:
    {{- include "mockd.selectorLabels" . | nindent 4 }}
